[Unit]
Description=Gunicorn Server for SITENAME

[Service]
Restart=on-failure
User=ecs-assist-user
WorkingDirectory=/home/ecs-assist-user/sites/SITENAME/source
ExecStart=gunicorn --bind unix:/tmp/SITENAME.socket superlists.wsgi:application

[Install]
WantedBy=multi-user.target
